# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Test / coverage
coverage/

# Environment
.env
.dev.vars

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Framework specific
.next/

# Tauri
**/src-tauri/target
**/src-tauri/gen

# Temporary
.tmp/
.temp/

# Nx
.nx/

.wrangler
apps/backend/public/static/app.css
